body{
    margin: 0em;
    padding: 0em;  
    background-color:white; 
}
.container{
    margin: 50px;
    background-color:rgb(245,245,245);
    padding: 100px;
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    color:green;
}
.card-title{
    width: 80%;
    position: absolute;
    bottom: 8px;
    left: 10px;
    color:white;
    text-align: center;
    background-color: rgba(6, 141, 231, 0.719);  
 }
 .footer{
    margin-top: 30px;
    background-color:	rgb(211,211,211);
    text-align: center;
    width: auto;
  }