body {
  background-color: black;
}
.container {
  margin: 50px;
  margin-top: 20px;
  background-image: url("./page image/developer-here.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 100px;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  color: white;
}
h2 {
  color: white;
  text-decoration: dotted;
}
p {
  color: white;
}
.footer {
  margin-top: 50px;
  background-color: rgb(211, 211, 211);
  text-align: center;
  width: 100%;
}
.pics {
  height: 60px;
  border-radius: 50px;
}
h5 {
  text-align: center;
}
.card {
  background-color: black;
  border-color: white;
  padding: 10px;
}
.card:hover {
  transform: scale(1.1);
}
.img-thumbnail {
  border-radius: 20%;
}
